body{
    background-color: black;
}
.container {
     display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(2, 1fr);
    gap: 60px;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

.container img {
    width: 100%;
    height: auto;
    object-fit: cover;
    max-width: 200px;
    display: block;
    margin: 0 auto;
}